:root {
    --white: #fff;
    --black: #090c0d;
    --transition: cubic-bezier(.4, 0, .2, 1);
    --transition-in: cubic-bezier(0, 0, .2, 1);
    --transition-out: cubic-bezier(.4, 0, 1, 1);
    --fast: 125ms;
    --medium: .2s;
    --slow: .3s;
    --header-bar-height: 61px;
    --content-padding: 12px;
    --input-height-tall: 168px;
    --input-height-max: 500px;
    --form-column-width: 300px;
    --form-column-max-width: 380px;
    --focus-ring-width: 2px;
    --focus-ring-offset: 2px;
    --focus-ring-offset-invert: calc(-1 * var(--focus-ring-width));
    --focus-ring-offset-inset: calc(-1 * (var(--focus-ring-width) + var(--focus-ring-offset)));
    --focus-ring-radius: var(--theme--border-radius);
    --focus-ring-color: var(--theme--primary);
}
:root {
    --theme--border-radius: 6px;
    --theme--border-width: 1px;
    --theme--foreground: #4f5464;
    --theme--foreground-accent: #172940;
    --theme--foreground-subdued: 
 color-mix(in srgb, var(--theme--background), var(--theme--foreground) 60%);
    --theme--background: #fff;
    --theme--background-normal: #f0f4f9;
    --theme--background-accent: 
 color-mix(in srgb, var(--theme--background), var(--theme--primary) 15%);
    --theme--background-subdued: #f7fafc;
    --theme--border-color: #e4eaf1;
    --theme--border-color-accent: #d3dae4;
    --theme--border-color-subdued: #f0f4f9;
    --theme--primary: var(--project-color);
    --theme--primary-background: 
 color-mix(in srgb, var(--theme--background), var(--theme--primary) 10%);
    --theme--primary-subdued: 
 color-mix(in srgb, var(--theme--background), var(--theme--primary) 50%);
    --theme--primary-accent: 
 color-mix(in srgb, var(--theme--primary), #2e3c43 25%);
    --theme--secondary: #ff99dd;
    --theme--secondary-background: 
 color-mix(in srgb, var(--theme--background), var(--theme--secondary) 10%);
    --theme--secondary-subdued: 
 color-mix(in srgb, var(--theme--background), var(--theme--secondary) 50%);
    --theme--secondary-accent: 
 color-mix(in srgb, var(--theme--secondary), #2e3c43 25%);
    --theme--success: #2ecda7;
    --theme--success-background: 
 color-mix(in srgb, var(--theme--background), var(--theme--success) 10%);
    --theme--success-subdued: 
 color-mix(in srgb, var(--theme--background), var(--theme--success) 50%);
    --theme--success-accent: 
 color-mix(in srgb, var(--theme--success), #2e3c43 25%);
    --theme--warning: #ffa439;
    --theme--warning-background: 
 color-mix(in srgb, var(--theme--background), var(--theme--warning) 10%);
    --theme--warning-subdued: 
 color-mix(in srgb, var(--theme--background), var(--theme--warning) 50%);
    --theme--warning-accent: 
 color-mix(in srgb, var(--theme--warning), #2e3c43 25%);
    --theme--danger: #e35169;
    --theme--danger-background: 
 color-mix(in srgb, var(--theme--background), var(--theme--danger) 10%);
    --theme--danger-subdued: 
 color-mix(in srgb, var(--theme--background), var(--theme--danger) 50%);
    --theme--danger-accent: 
 color-mix(in srgb, var(--theme--danger), #2e3c43 25%);
    --theme--fonts--display--font-family: "Poppins", system-ui;
    --theme--fonts--display--font-weight: 600;
    --theme--fonts--sans--font-family: "DM Sans", system-ui;
    --theme--fonts--sans--font-weight: 500;
    --theme--fonts--serif--font-family: "Merriweather", serif;
    --theme--fonts--serif--font-weight: 500;
    --theme--fonts--monospace--font-family: "Fira Mono", monospace;
    --theme--fonts--monospace--font-weight: 500;
    --theme--navigation--background: var(--theme--background);
    --theme--navigation--background-accent: var(--theme--background-accent);
    --theme--navigation--border-color: 
 color-mix(in srgb, var(--theme--foreground), var(--theme--background) 95%);
    --theme--navigation--border-width: 1px;
    --theme--navigation--project--border-color: transparent;
    --theme--navigation--project--border-width: 0px;
    --theme--navigation--project--background: transparent;
    --theme--navigation--project--foreground: var(--theme--foreground-accent);
    --theme--navigation--project--font-family: var(--theme--font-family-sans-serif);
    --theme--navigation--modules--background: 
 color-mix(in srgb, var(--theme--foreground), var(--theme--primary) 80%);
    --theme--navigation--modules--border-color: transparent;
    --theme--navigation--modules--border-width: 0px;
    --theme--navigation--modules--button--foreground: 
 color-mix(in srgb, var(--theme--background), var(--theme--primary) 20%);
    --theme--navigation--modules--button--foreground-hover: #fff;
    --theme--navigation--modules--button--foreground-active: var(--theme--primary);
    --theme--navigation--modules--button--background: transparent;
    --theme--navigation--modules--button--background-hover: transparent;
    --theme--navigation--modules--button--background-active: var(--theme--background);
    --theme--navigation--list--icon--foreground: var(--theme--primary);
    --theme--navigation--list--icon--foreground-hover: var(--theme--navigation--list--icon--foreground);
    --theme--navigation--list--icon--foreground-active: var(--theme--navigation--list--icon--foreground);
    --theme--navigation--list--foreground: var(--theme--foreground-accent);
    --theme--navigation--list--foreground-hover: var(--theme--navigation--list--foreground);
    --theme--navigation--list--foreground-active: var(--theme--navigation--list--foreground);
    --theme--navigation--list--background: transparent;
    --theme--navigation--list--background-hover: 
 color-mix(in srgb, var(--theme--background), var(--theme--primary) 10%);
    --theme--navigation--list--background-active: 
 color-mix(in srgb, var(--theme--background), var(--theme--primary) 15%);
    --theme--navigation--list--font-family: var(--theme--fonts--sans--font-family);
    --theme--navigation--list--divider--border-color: var(--theme--border-color-subdued);
    --theme--navigation--list--divider--border-width: var(--theme--border-width);
    --theme--header--background: var(--theme--background);
    --theme--header--border-color: transparent;
    --theme--header--border-width: 0px;
    --theme--header--box-shadow: 0 4px 7px -4px rgb(0 0 0 / 0.2);
    --theme--header--headline--foreground: var(--theme--foreground-subdued);
    --theme--header--headline--font-family: var(--theme--fonts--sans--font-family);
    --theme--header--title--foreground: var(--theme--foreground-accent);
    --theme--header--title--font-family: var(--theme--fonts--display--font-family);
    --theme--header--title--font-weight: var(--theme--fonts--display--font-weight);
    --theme--form--column-gap: 32px;
    --theme--form--row-gap: 16px;
    --theme--form--field--label--foreground: var(--theme--foreground-accent);
    --theme--form--field--label--font-family: var(--theme--fonts--sans--font-family);
    --theme--form--field--label--font-weight: 600;
    --theme--form--field--input--background: var(--theme--background);
    --theme--form--field--input--background-subdued: var(--theme--background-subdued);
    --theme--form--field--input--foreground: var(--theme--foreground);
    --theme--form--field--input--foreground-subdued: var(--theme--foreground-subdued);
    --theme--form--field--input--border-color: var(--theme--border-color);
    --theme--form--field--input--border-color-hover: var(--theme--border-color-accent);
    --theme--form--field--input--border-color-focus: var(--theme--primary);
    --theme--form--field--input--box-shadow: none;
    --theme--form--field--input--box-shadow-hover: none;
    --theme--form--field--input--box-shadow-focus: 0 0 16px -8px var(--theme--primary);
    --theme--form--field--input--height: 48px;
    --theme--form--field--input--padding: 16px;
    --theme--sidebar--background: var(--theme--background);
    --theme--sidebar--foreground: var(--theme--foreground-subdued);
    --theme--sidebar--font-family: var(--theme--fonts--sans--font-family);
    --theme--sidebar--border-color: var(--theme--border-color-subdued);
    --theme--sidebar--border-width: 1px;
    --theme--sidebar--section--toggle--icon--foreground: var(--theme--foreground);
    --theme--sidebar--section--toggle--icon--foreground-hover: var(--theme--foreground);
    --theme--sidebar--section--toggle--icon--foreground-active: var(--theme--foreground-accent);
    --theme--sidebar--section--toggle--foreground: var(--theme--foreground);
    --theme--sidebar--section--toggle--foreground-hover: var(--theme--foreground);
    --theme--sidebar--section--toggle--foreground-active: var(--theme--sidebar--section--toggle--foreground);
    --theme--sidebar--section--toggle--background: var(--theme--background);
    --theme--sidebar--section--toggle--background-hover: var(--theme--sidebar--section--toggle--background);
    --theme--sidebar--section--toggle--background-active: var(--theme--sidebar--section--toggle--background);
    --theme--sidebar--section--toggle--font-family: var(--theme--fonts--sans--font-family);
    --theme--sidebar--section--toggle--border-color: var(--theme--border-color-subdued);
    --theme--sidebar--section--toggle--border-width: 1px;
    --theme--sidebar--section--form--column-gap: var(--theme--form--column-gap);
    --theme--sidebar--section--form--row-gap: var(--theme--form--row-gap);
    --theme--sidebar--section--form--label--foreground: var(--theme--form--field--label--foreground);
    --theme--sidebar--section--form--label--font-family: var(--theme--form--field--label--font-family);
    --theme--sidebar--section--form--field--input--background: var(--theme--form--field--input--background);
    --theme--sidebar--section--form--field--input--foreground: var(--theme--form--field--input--foreground);
    --theme--sidebar--section--form--field--input--foreground-subdued: var(--theme--form--field--input--foreground-subdued);
    --theme--sidebar--section--form--field--input--border-color: var(--theme--form--field--input--border-color);
    --theme--sidebar--section--form--field--input--border-color-hover: var(--theme--form--field--input--border-color-hover);
    --theme--sidebar--section--form--field--input--border-color-focus: var(--theme--form--field--input--border-color-focus);
    --theme--sidebar--section--form--field--input--box-shadow: var(--theme--form--field--input--box-shadow);
    --theme--sidebar--section--form--field--input--box-shadow-hover: var(--theme--form--field--input--box-shadow-hover);
    --theme--sidebar--section--form--field--input--box-shadow-focus: var(--theme--form--field--input--box-shadow-focus);
    --theme--sidebar--section--form--field--input--height: 52px;
    --theme--sidebar--section--form--field--input--padding: 12px;
    --theme--public--background: var(--theme--background);
    --theme--public--foreground: var(--theme--foreground);
    --theme--public--foreground-accent: var(--theme--foreground-accent);
    --theme--public--art--background: #0e1c2f;
    --theme--public--art--primary: var(--theme--primary);
    --theme--public--art--secondary: var(--theme--secondary);
    --theme--public--art--speed: 1;
    --theme--public--form--column-gap: var(--theme--form--column-gap);
    --theme--public--form--row-gap: var(--theme--form--row-gap);
    --theme--public--form--label--foreground: var(--theme--form--field--label--foreground);
    --theme--public--form--label--font-family: var(--theme--form--field--label--font-family);
    --theme--public--form--field--input--background: var(--theme--form--field--input--background);
    --theme--public--form--field--input--foreground: var(--theme--form--field--input--foreground);
    --theme--public--form--field--input--foreground-subdued: var(--theme--form--field--input--foreground-subdued);
    --theme--public--form--field--input--border-color: var(--theme--form--field--input--border-color);
    --theme--public--form--field--input--border-color-hover: var(--theme--form--field--input--border-color-hover);
    --theme--public--form--field--input--border-color-focus: var(--theme--form--field--input--border-color-focus);
    --theme--public--form--field--input--box-shadow: var(--theme--form--field--input--box-shadow);
    --theme--public--form--field--input--box-shadow-hover: var(--theme--form--field--input--box-shadow-hover);
    --theme--public--form--field--input--box-shadow-focus: var(--theme--form--field--input--box-shadow-focus);
    --theme--public--form--field--input--height: var(--theme--form--field--input--height);
    --theme--public--form--field--input--padding: var(--theme--form--field--input--padding);
    --theme--popover--menu--background: #fafcfd;
    --theme--popover--menu--border-radius: var(--theme--border-radius);
    --theme--popover--menu--box-shadow: 0px 0px 6px 0px rgb(23, 41, 64, 0.2), 0px 0px 12px 2px rgb(23, 41, 64, 0.05);
    --theme--banner--background: #0e1c2f;
    --theme--banner--padding: 40px;
    --theme--banner--border-radius: var(--theme--border-radius);
    --theme--banner--avatar--border-radius: 50%;
    --theme--banner--avatar--foreground: var(--theme--primary);
    --theme--banner--avatar--background: #ffffff;
    --theme--banner--headline--foreground: #ffffff;
    --theme--banner--headline--font-family: var(--theme--fonts--sans--font-family);
    --theme--banner--headline--font-weight: var(--theme--fonts--sans--font-weight);
    --theme--banner--title--foreground: #ffffff;
    --theme--banner--title--font-family: var(--theme--fonts--display--font-family);
    --theme--banner--title--font-weight: var(--theme--fonts--display--font-weight);
    --theme--banner--subtitle--foreground: #a2b5cd;
    --theme--banner--subtitle--font-family: var(--theme--fonts--monospace--font-family);
    --theme--banner--subtitle--font-weight: var(--theme--fonts--monospace--font-weight);
    --theme--banner--art--foreground: #2e3a4d;
}
:root {
    --fc-list-event-dot-width: 10px;
    --fc-list-event-hover-bg-color: #f5f5f5;
}
:root {
    --fc-daygrid-event-dot-width: 8px;
}
:root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: hsla(0, 0%, 82%, .3);
    --fc-neutral-text-color: grey;
    --fc-border-color: #ddd;
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #2c3e50;
    --fc-button-border-color: #2c3e50;
    --fc-button-hover-bg-color: #1e2b37;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: #151e27;
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, .25);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0, 0%, 84%, .3);
    --fc-bg-event-color: #8fdf82;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, .3);
    --fc-today-bg-color: rgba(255, 220, 40, .15);
    --fc-now-indicator-color: red;
}